$background-color: #464646

#start-Site
    width: calc(100vw - 40px)
    height:calc(100vh - 4.5vh - 40px)
    margin:10px
    background-color: rebeccapurple
    display: block
    overflow: hidden
    padding: 10px
    border-radius: 10px
    color: #ffffff

#Greetings
    color:white
    font-size: 38px
    width:500px
    height:auto
    position: absolute
    top:40%

#Greetings > 
    *
        margin:0 10px 
        vertical-align: middle

#tasks
    width:70%
    height: calc( 100vh - 85px )
    background-color: $background-color
    float: right
    border-radius: 4px 10px 10px 4px

label
    color: #ffffff
    margin: 7%

input
    margin: 1%
    border-radius: 5px

#collect-data 
    div
        display: inline

#Which_Program
    width:595px

#send_Task
    border: 0
    border-radius: 90px
    background-color: #898989
    color: #ffd700
    font-size: 18pt

#send_Task:hover
    cursor: pointer

#importance
    margin:1.6%

table
    width: 92%
    height: 74%
    margin:0 4%
    border: 1px
    border-radius: 2px
    background-color: #898989
    border-collapse: collapse
    table-layout: fixed
    

tr
    line-height:20px
    white-space: nowrap

th, td
    border: 1px solid #464646
    display: flexbox


.important
    background-color: #12ab12