$background-color: #464646;

#start-Site
{
    width: calc(100vw - 40px);
    height:calc(100vh - 4.5vh - 40px);
    margin:10px;
    background-color: rebeccapurple;
    display: block;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
}
#Greetings
{
    color:white;
    font-size: 38px;
    width:500px;
    height:auto;
    position: absolute;
    top:40%;
}
#Greetings > *
{
    margin:0 10px; 
    vertical-align: middle;
}
#tasks
{
    width:70%;
    height: calc( 100vh - 85px );
    background-color: $background-color;
    float: right;
    border-radius: 4px 10px 10px 4px;
}
label
{
    color: #ffffff;
    margin: 2%;
}
input
{
    margin: 2%;
}
#what
{
    display: inline;
    width: 100%;
}
#who_takes_part
{
    display: inline;
}
#when
{
    display: inline;
}